
/* CARD */
@import '../styles/card.css'; 

/* NAVBAR */
@import '../styles/navBar.css';

/* Categorias y atributos */
@import '../styles/Categories.css';

/* Configuración general */
html,
body {
    height: 100%;
    width: 100vw;
    background-color: #f5903d;

}

.main {
    display: grid;
    grid-template-columns: 20vw 80vw;
    background-color: #f5903d;
    height: 100vh;
}

#titleProductos {
    text-align: center;
    margin-top: 15vh;
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 1px 2px 5px #fffafac7;
}

#logoBsale{
    position: relative;
    height: 2.5rem;
    padding-left: 3rem;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}