
/* CARD */
@import '../styles/card.css'; 

/* NAVBAR */
@import '../styles/navBar.css';

/* Categorias y atributos */
@import '../styles/Categories.css';

/* Configuración general */
html,
body {
    height: 100%;
    background-color: #E5E6E8;
}

.main {
    display: grid;
    grid-template-columns: 20vw 80vw;
    background-color: #E5E6E8;
    height: 100vh;
}

#titleProductos {
    margin-top: 15vh;
    font-size: 3rem;
    color: #edf2f4;
    text-shadow: 1px 1px 7px #d6d6d6c7;
}
