
/* Categorias y atributos */

#containerAttibute {
    position: relative;
    display: flex;
    grid-column: 1;
    background-color: #f4a261;
    height: 100vh;
    
}

#listAttributes {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    width: 20vw;
    padding-top: 10vh;
}

.list-group {
    position: fixed;
    text-align: center;
    padding-top: 10vh;
}

.categoryLink{
    padding: 1vh;
    background-color: #f3c9a5;
    border-radius: 4px;
    border: 1px solid #f4a261;
    text-decoration: none;
    color: #682f01;
    cursor: pointer;
}

.categoryLink:hover {
    background-color: #c27637;
    color: black;
}

#titleCategory{
    padding: 20px;
    color: #ffffff;
    font-size: 2rem;
}

.selected{
    background-color: #c27637;
    color: #ffffff;
}

#btnDropdownCategories{
    display: none;
}


/* RESPONSIVE */

/* Responsive para pantallas menores a 768px*/
@media screen and (max-width: 768px) {
    
    #containerAttibute {
        display: none;
    }
    
    #listAttributes {
        display: none;
    }
    
    #btnDropdownCategories{
        display: inline;
        width: 100%;
        background-color: #fff;
        border: 1px solid #717a78;
        color: #063d49;
    }

    #btnDropdownCategories:hover{
        background-color: #006d77;
        border: 1px solid #063d49;
        color: #fefae0;
    }
    
    #dropdownCategories{
        margin-top: 1rem;
        width: 100%;
    }

    #ulDropdownMenu{
        padding: 0;
    }

    .categoryLink{
        padding: 1vh;
        background-color: #f3c9a5;
        border-radius: 0px;
        border: 1px solid #f4a261;
    }
    
    .categoryLink:hover .itemLinkCategory{
        background-color: #c27637;
        color: #fefae0;
        cursor: pointer;
    }

    .itemLinkCategory{
        text-decoration: none;
        color: #682f01;
        cursor: pointer;
    }

    .itemLinkCategory:hover{
        text-decoration: none;
        color: #fefae0;
        cursor: pointer;
    }

    .selected{
        background-color: #c27637;
        color: #ffffff;
    }

    .selected .itemLinkCategory{
        color: #ffffff;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    #ulDropdownMenu {
        overflow: scroll;
        height: 8rem;
    }
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
    #ulDropdownMenu {
        overflow: scroll;
        height: 8rem;
    }
}

/* Responsive para pantallas mayores a 769px y menores a 1280px*/
@media screen and (min-width: 769px) and (max-width: 1280px) {
    #containerAttibute {
        display: none;
    }
    
    #listAttributes {
        display: none;
    }
    
    #btnDropdownCategories{
        display: inline;
        width: 90%;
        background-color: #fff;
        border: 1px solid #717a78;
        color: #063d49;
    }

    #btnDropdownCategories:hover{
        background-color: #006d77;
        border: 1px solid #063d49;
        color: #fefae0;
    }
    
    #dropdownCategories{
        display: flex;
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
    }

    #ulDropdownMenu{
        padding: 0;
    }

    .categoryLink{
        padding: 1vh;
        background-color: #f3c9a5;
        border-radius: 0px;
        border: 1px solid #f4a261;
    }
    
    .categoryLink:hover .itemLinkCategory{
        background-color: #c27637;
        color: #fefae0;
        cursor: pointer;
    }

    .itemLinkCategory{
        text-decoration: none;
        color: #682f01;
        cursor: pointer;
    }

    .itemLinkCategory:hover{
        text-decoration: none;
        color: #fefae0;
        cursor: pointer;
    }

    .selected{
        background-color: #c27637;
        color: #ffffff;
    }

    .selected .itemLinkCategory{
        color: #ffffff;
    }
}